/* box-sizing: content-box; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border-radius: 10px; */
}

body {
    overflow-x: hidden;
    color: #474747;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(#F8B195, #F67280, #C06C84, #6C5B7B, #355C7D);
}

#sDisplay {
    background-color: #FFD3B5;
    color: #474747;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #FFD3B5;
    border-radius: 10px;
    color: #474747;
}

.present {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #FFD3B5;
    border-radius: 10px;
    color: #474747;
}

.weather {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
}

#location {
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
}

.weatherDescription {
    font-size: 1.25rem;
    text-transform: capitalize;
}

#fiveDays {
    justify-content: center;
    padding-top: 1rem;
}

.Searching {
    background-color: transparent;
}

main {
    padding: 1rem;
}

.yourLocation {
    padding-left: 0px;
}

#notfar {
    background-color: #A8A7A7;
    border: none;
    color: white;
}

#notfar:hover {
    background-color: #363636;
    color: white;
}

/* 5 day forecast */
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #FFD3B5;
    border-radius: 10px;
    color: #474747;

}